.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: darkslateblue;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Image/night.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    left:50%;
    transform: translateX(-50%);
    width:450px;
}
.wrapper{
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    border:2px solid rgba(255, 255, 255, .2);
    width: 420px;
    color:#fff;
    padding: 30px 40px;

}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .inputbox2{
    position: relative;
    width: 235px;
    height: 50px;
    margin: 30px 0;
}
.inputbox2 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.inputbox2 input::placeholder{
    color: #fff;
}
.wrapper .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.inputbox input::placeholder{
    color: #fff;
}

.inputbox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    position: relative;
    padding: 20px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  .emailtest{
   position: absolute;
   width: 100px;
   height: 50px;
   border-radius: 25px;
  }