*{
    box-sizing: border-box;
    scrollbar-width: none;
}

.main{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: gray;
}

.container{
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.box1{
    padding: 16px 24px 72px;
    width: 100%;
    min-height: 100vh;
    max-width: 414px;
    overflow-y: scroll;
}
.box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
  }
  
  .cancle {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    margin-right: auto; /* 추가된 부분 */
  }
  
  .next {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    margin-left: 16px; /* 추가된 부분 */
  }
  
.contextbox{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.contextbox2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    background-size: cover;
    border-radius: 13px;
    width: 100%;
    height: min(379px, 54vh);
    border: none;
    resize: none;
}
.context{
    width: 100%;
    font-family: NanumSquareRound;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    font-size: 24px;
    max-height: min(379px, 54vh);
    height: auto;
    background: transparent;
    border: none;
    resize: none;
    white-space: pre-wrap;
}

.contextbox3{
    margin: 12px 0px 0px;
    padding: 19px 18px 21px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(245, 245, 245);
    border-radius: 4px;
}
.hidden{
    font-size: 16px;
    line-height: 16px;
    color: rgb(35, 35, 35);
}
.contextbox4{
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    width: calc(100% - 20px);
    max-width: 414px;
    margin-left: -16px;
    height: 56px;
    overflow-x: scroll;
    scrollbar-width: none;
    position: fixed;
    bottom: 70px;
    padding: 0px 16px;
}
.btnbox{
    position: fixed;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: min(100%, 414px);
    margin-left: -24px;
    bottom: 16px;
}
.btn{
    width: calc(100% - 32px);
    height: 56px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(52, 47, 47);
    border: none;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;   
}