<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 로그 패턴에 색상 적용 %clr(pattern){color} 콘솔 로그 사용 시에만 -->
    <!--<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %m%n</pattern>
        </encoder>
    </appender>


    <appender name="INFO_FILE_POLICY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!--ERROR 레벨이 아니면 전부 여기서 출력-->
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <file>./logs/info.log</file>
        <!--시간에 따른 롤오버 트리거-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/%d{yyyy-MM-dd}/info_%i.log</fileNamePattern>
            <!--용량에 따른 롤오버 트리거-->
            <maxFileSize>1KB</maxFileSize>
            <!--로그파일 최대 보관일수-->
            <maxHistory>365</maxHistory>
            <!--전체 용량 설정 => 도달하면 가장 오래된 파일부터 삭제-->
            <!--<totalSizeCap>1GB</totalSizeCap>-->
        </rollingPolicy>
        <!--지정된 패턴에 맞게 로그 메시지 형식을 구성-->
        <encoder>
            <charset>UTF-8</charset> <!--한글 출력을 위-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_FILE_POLICY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <file>./logs/error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/%d{yyyy-MM-dd}/error_%i.log</fileNamePattern>
            <!--용량에 따른 롤오버 트리거-->
            <maxFileSize>1KB</maxFileSize>
            <!--로그파일 최대 보관일수-->
            <maxHistory>365</maxHistory>
            <!--전체 용량 설정 => 도달하면 가장 오래된 파일부터 삭제-->
            <!--<totalSizeCap>1GB</totalSizeCap>-->
        </rollingPolicy>
        <!--지정된 패턴에 맞게 로그 메시지 형식을 구성-->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %m%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="INFO_FILE_POLICY"/>
        <appender-ref ref="ERROR_FILE_POLICY"/>
    </root>

</configuration>